.profileViewerStyle
{
    position:fixed;
    top: 0px;
    text-align: center;
    background-color: rgba(44, 50, 48, 0.705);
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(4px);
    color: white;
    /* padding: 10px; */
   

    

}
.profileViewerStyle1 >img
{
    width:300px;
    height:auto;
    margin-top:100px;


}
.profileViewerStyle1
{
    
    background-color: rgba(46, 195, 145, 0.537);
    width: 40vw;
    height: 100vh;
    margin:auto;
    backdrop-filter: blur(44px);
    color: white;
    /* padding: 10px; */
    font-size: 15px; 
    /* display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; */
     font-size: 15px;
     border-radius: 20px;
     border:2px dotted rgb(249, 227, 227);
box-shadow:  inset 22px 10px 15px 0px rgba(222, 99, 99, 0.1);

   
}
.listitem
{
    align-items: left;
    text-align: left;
}
.profileViewerStyle1> ol{
    width:20%;
    margin:auto;
    margin-bottom:20px;

}
.profileViewerStyle1 > button
{
    padding:13px;
    background-color: red;
    width:100px;
    color:white;
    
   
}
